---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import JustHero from '../components/blocks/hero/JustHero.astro'
import Button from '../components/ui/Button.astro'
import { getEnabledChannels, getSharedDatabaseMetrics } from './api/gql'
// - Data
import ClientDashboard from '../components/blocks/data/ClientDashboard.tsx'

// Content
// - SEO
const SEO = {
	title: 'Whistles | Anonymized Analytics Dashboard',
	description: 'See Anonymized Analytics about Whistles Protocol.'
}
// - Page Header
const header = {
	title: 'Private Data <strong>Transparency</strong>.', 
	text: 'Anonymized analytics for Whistles Protocol.'
}

const { numPartitions, numSchemas } = (await getSharedDatabaseMetrics())
---

<Layout title={SEO.title} description={SEO.description}>
	<JustHero
		title={header.title}
		text={header.text}
		id="contact"
		classes="bg-neutral-50 dark:bg-neutral-950/80"
	>
	<hr />
	<ClientDashboard client:only="react" />
	<ul>
		<hr />
		<Button type="external" size="lg" link="https://whistles.artlu.xyz/graphql" style="primary" external="circle-stack">GraphQL</Button>
		<li>&nbsp;# of partitions: {numPartitions}</li>
		<li>&nbsp;# of schemas: {numSchemas}</li>
	</ul>
	<span class="text-emphasis text-xs">as of 2024-10-31</span> 
	<hr />

	</JustHero>
</Layout>
