---
export const prerender = false;

// - Session
import { getSession } from "auth-astro/server";
import BasicContest from "../components/blocks/contest/Basic.astro";
// Components
import MostSeenCastsTable from "../components/blocks/data/MostSeenCastsTable.tsx";
// - UI
import JustHero from "../components/blocks/hero/JustHero.astro";
import AuthBlock from "../components/blocks/modal/AuthBlock.astro";
// - Layout
import Layout from "../layouts/Layout.astro";
// - SEO
const SEO = {
	title: "SassyHash 💅 |Leaderboard",
	description: "See the leaderboard for SassyHash.",
};
// - Page Header
const header = {
	title: "Leaderboard",
	text: "Weekly contest to elevate the sassiest hashes.",
};

const session = await getSession(Astro.request);
const fid = session?.user?.email ? Number.parseInt(session?.user?.email) : null;
---

<Layout title={SEO.title} description={SEO.description}>
	<JustHero
		title={header.title}
		text={header.text}
		id="contact"
		classes="bg-neutral-50 dark:bg-neutral-950/80"
	>
	<AuthBlock />	
	<BasicContest totalPool={100} minPayout={5} />
	<hr />
	<MostSeenCastsTable fid={fid} totalPool={100} minPayout={5} client:only="react" />
	<span class="text-emphasis text-xs">as of 
		{new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'}).split(' ')[0]}
	</span> 
	<hr />
	</JustHero>
</Layout>
