---
// Basic Dark Testimonial section
// ------------
// Description: A centered testimonial section that contains: a quote, a caption and a cite in a dark section with a background image.

// Components
// - Layout
import Col from "../../ui/Col.astro";
import Row from "../../ui/Row.astro";
import Section, { type BgProps } from "../../ui/Section.astro";
// - UI
import Testimonial from "../../ui/Testimonial.astro";

// Props
type Props = {
	blockquote?: string;
	figcaption?: string;
	cite?: string;
	url?: string;
	bg?: BgProps;
	bgPosition?: "left" | "right" | "center";
};
const {
	blockquote = "SassyHash (the Decentralized Whistles Protocol) is the most exciting innovation for making genuine human connections since Twitter. It is like a rocket boost for separating out signal from noise! Its sleek design and out-of-this-world features make managing relationships and building communities a breeze.",
	figcaption = "Elon Musk",
	cite = "Founder and CEO, Facebook",
	url,
	bg,
	bgPosition = "center",
} = Astro.props;
---

<Section
	id="testimonial"
	mode="dark"
	bg={bg}
	bgPosition={bgPosition}
	classes="dark:border-t border-y border-neutral-800"
>
	<Row>
		<Col span="12">
			{url ? 
			<a href={url} target="_blank" rel="noopener noreferrer">
				<Testimonial
					blockquote={blockquote}
					figcaption={figcaption}
					cite={cite}
					align="center"
					size="4xl"
					mobileSize="2xl"
					classes="!leading-tight font-bold xl:text-5xl max-w-4xl mx-auto"
					quoteSize={112}
				/>
			</a> : <Testimonial
				blockquote={blockquote}
				figcaption={figcaption}
				cite={cite}
				align="center"
				size="4xl"
				mobileSize="2xl"
				classes="!leading-tight font-bold xl:text-5xl max-w-4xl mx-auto"
				quoteSize={112}
			/>}
		</Col>
	</Row>
</Section>
